*{
	font-family: "futura";
	font-weight: 100;
	text-shadow: 1px 1px 3px gray;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #83B0CC;
}

.center-box{
    position: absolute;
    top: 25%;
	left: 0;
	right: 0;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
	color: white;
}

.center-box h1{
	display: inline-block;
	font-size: 24pt;
}

.center-box p{
	font-size: 16pt;
}

input[type="text"]{
	color: white;
	font-size: 24pt;
	text-transform: uppercase;
	border: none;
	border-bottom: 1px solid white;
	text-align: center;
	background: none;
	min-width: 80px;
	border-radius: 0px;
	transition: width 0.1s linear;
}

input[type="text"]:focus{
	outline: none;
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.hashtag{
	font-size: 10pt;
	color: #bbb;
	margin: 0;
	text-transform: lowercase;
}

.corner{
	text-align: right;
	position: fixed;
	right: 0;
	bottom: -33px;
	transition: bottom 0.2s;
	height: 77px;
	z-index: 1;
}

.corner:hover{
	bottom: -5px;
}

a{
	margin-bottom: 7px;
	cursor: pointer;
	text-decoration: none;
	font-size: 10pt;
	color: white;
	text-shadow: none;
}