html{
	height: 100%;
	width: 100%;
}

body{
	margin: 0;
}

*{
	font-family: "futura";
	color: white;
}

p, h1{
	/*text-shadow: 2px 2px black;*/
}

.container{
	width: 100%;
}

.center-box{
    position: absolute;
    top: 25%;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    text-align: center;
    z-index: 1;
}

.weather-info{
	font-weight: bold;
	font-size: 14pt;
}

#weather-gif{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

iframe{
	width: 100%;
	height: 100%;
	z-index: 0;
}

#hashtag{
	position: fixed;
	right: 20px;
	bottom: 0;
	font-size: 10pt;
	font-weight: 100;
	color: #bbb;
}